<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'trips.css' %}">
    <title>Zaplanuj Wycieczke</title>
</head>
<body>
    <header>
        <div class="container">
          <a class="link" href="{% url 'index' %}"><button><span>Home</span></button></a>
          <a class="link" href="{% url 'add_place' %}"><button><span>Add Place</span></button></a>
          <a class="link" href="{% url 'places' %}"><button><span>Places</span></button></a>
          <a class="link" href="{% url 'planing' %}"><button><span>Planing Trips</span></button></a>
          <a class="link" href="{% url 'trips' %}"><button><span>Trips</span></button></a>
          <a class="link" href="{% url 'favorite' %}"><button><span>Favorite</span></button></a>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="trips">
                {% for favorite_trip in favorite_trips %}
                <div class="trip">
                    <img src="{{ favorite_trip.trip.place.photo.url }}" alt="{{ favorite_trip.trip.place.name }}" >
                    <p>Name: {{ favorite_trip.trip.name }}</p>
                    <p>Price: {{ favorite_trip.trip.price }} PLN</p>
                    <p>Discription: {{ favorite_trip.trip.discription }}</p>
                    <p>Place: {{ favorite_trip.trip.place }}</p>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="favorite_trip" value="{{ favorite_trip.id }}">
                        <button type="submit">Delete</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>